@import "variables";

outer::-moz-viewport-scroll, outer::-webkit-scrollbar {
  // width: 0;
  // height: 0;
  // background: transparent;
}

html {
    background-color: $first-color;
    margin: 0 -10px 0 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // height: 50%;
    // width:100%;
}

.half {}

.contList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: red;
    height: 100%;
    overflow: scroll;

}

.contList1 {
  background: blue;
  border: 5px green solid;
  height:25%;
  overflow: scroll;
}
.contList2 {
  background: blue;
  border: 5px green solid;
  height:75%;
  overflow: hidden;
}

.outer {
    background: magenta;
    width: 80%;
    // margin-right: -10px;
    //  padding-right: -10px;
    overflow: scroll;
    border: 5px solid black;
    height: inherit;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background: lighten($first-color,10%);
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex: 1 0 $cell-width;
    min-width: $cell-width;
    min-height: $cell-height;
    user-select: none;
    font-weight: 900;
    font-size: 20px;
    padding: 2rem;
    margin: 2rem;
    font-family: sans-serif;
}

li.filler {
    display: flex;
    flex-grow: 1;
    background-color: transparent;
    color: transparent;
    height: 10px;
    flex-basis: #cell-width;
    width: $cell-width;
    margin-bottom: 0;
}

li:hover {
    background: lighten($first-color,0);
}

.h1 {
    color: white;
}

.imageContainer img {
    display: flex;
    width: 320px;
}

li {
    color: white;
    background: $second-color;
}

.withMargins {
    margin: 0 4px 4px 0;
    padding: 0;
}
@media (min-width: 640px) {
    body {
        background: mix($first-color,$second-color,30%);
    }
}
